*{
margin:0;
padding: 0;
box-sizing: border-box;
}
a{
 text-decoration: none;
}
/*  */

body{
 font-weight: 400;
}


@media only screen and (max-width:992px){
  body{

  background-color: black;
  
  
  }}

.navbar{
display: flex;
justify-content:space-between;
width: 100vw;
padding-top: 2%;
padding-bottom: 2%;
font-size: 20px;
background-color: #0d1013;
height: 12vh;
}
.logo{
margin-left: 10%;
color: white;
font-size: 25px;
font-weight: 500;
}
.logo_nav{
display: flex;
margin-left: 2%;

}

.main_nav{
display: flex;
width: 50%;
float: right;
margin-right: 2%;
justify-content: space-between;
list-style: none;


}

.main_nav li{
display: inline;
color: white;

}
.main_nav li a{
color: white;
}
.main_nav li:hover{
 color: red;
}

/*media query*/

@media only screen and (max-width:992px){
.navbar{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100vw;
padding-top: 2%;
padding-bottom: 2%;
background-color: black;
font-size: 20px;

}
.main_nav{
 display: none;
}
.show_nav{
 padding-top: 2%;
display: flex;
width: 100vw;
height: 100vh;
flex-direction: column;
justify-content: flex-start;

}
.main_nav li{
width: 100%;
height: 50px;
font-size: 25px;
justify-content: center;
text-align: center;
padding: 0%;

}
.navbar_toggle{
margin-left: 5%;
margin-right: 5%;
font-size: 30px;
color: white;
background: transparent;
border-color: transparent;
cursor: pointer;
display: block;
transition: all .3s linear;

}
.logo_header{
width: 100%;
justify-content: space-between;
margin-right: 2%;

}
}


/* // */

/* admin */

table{
  width: 90%;
  margin: 40px auto;
  background: rgb(39, 165, 113);



}

table.list{
  text-align: center;
  width: 100%;
}

td{
  border: 2px solid rgb(204,200,200);
  text-align: left;
  padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
  background-color: rgb(204,200,200);
}

input[type="text"],input[type="number"]{
  width:91%;
  padding:12px 20px;
  margin:8px 0;
  display: inline-block;
  border: 1px solid rgb(165,161,161);
  border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
  background: #eee;
  padding:6px 12px;
  margin:15px 0 10px;
  display: inline-block;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover{
  background: #2be31a;
}

input[type="reset"]:hover{
  background: #2cc411;
}

button{
  background: #eee;
  padding:6px 12px;
  margin:15px 0 10px;
  display: inline-block;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

button:hover{
  background:#4b99d8 ;
}











/*home*/
.home{

 background: url(/images/Credit\ card-amico.png), transparent;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: left;
 width: 50%;
 height: 100vh;



  }
    
.right-content {
display: flex;

}
.welcome{
display: flex;
margin-top: 8rem;
margin-left: 140%;
font-size: 26px;

}
.welcome span{
color: red;
margin-top: 4rem;


}


/* filter */



.heading {
  display: flex;
  background-color: #232f3e;
  box-shadow: 0px 1px 2px #232f3e;

}
h1 {
  color: coral;
  font-weight: bold;
  
  background: transparent;
  padding: 7px;
  
}


.outer-wrapper {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
  max-width: fit-content;
  max-height: fit-content;

  
}
.table-wrapper {

  overflow-y: scroll;
  overflow-x: scroll;
  height: fit-content;
  max-height: 66.4vh;
  
  margin-top: 22px;
  
  margin: 15px;
  padding-bottom: 20px;
  
}


table {
  
  min-width: max-content;
  
  border-collapse: separate;
  border-spacing: 0px;    
  
}

.table-filter {
  border-radius: 5px;
}

table th{
  position: sticky; 
  top: 0px;
  
  background-color: #133b5c;
  color: rgb(241, 245, 179);
  
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  outline: 0.7px solid black;
  border: 1.5px solid black;

} 



table th, table td {
  
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

table td {
  text-align: left;
  
  font-size: 15px;
  border: 1px solid rgb(177, 177, 177);
  padding-left: 20px;
  
}













